@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SIMS.Models.StudentViewModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}


<h2 style="text-align: center; color: blue;">Student List</h2>

<table class="table table-bordered text-center" style="width:100%">
    <thead style="background-color: #007bff; color: white;">
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Address</th>
            <th>Major</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.DoB.ToString("dd/MM/yyyy")</td>
                <td>@student.Email</td>
                <td>@student.Address</td>
                <td>@student.Major</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">New Student</a>

