@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<<<<<<< HEAD
@model List<SIMS.BDContext.Entity.Student>

@{
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/Layout_Admin/_layoutAdmin.cshtml";
}
<h2>Student List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Course</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>DoB</th>
            <th>Email</th>
            <th>Address</th>
            <th>Major</th> 
            <th>Class</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DoB</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.Type?.TypeName</td>
				<td>@item.Class?.ClassName</td>
                @* <td>@item.CreatedAt.ToShortDateString()</td>
                <td>@item.UpdatedAt.ToShortDateString()</td> *@
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-sm btn-info">Details</a>
                    @* <a asp-action="Edit" asp-route-id="@item.CourseID" class="btn btn-sm btn-warning">Edit</a> *@
                    @* <a asp-action="Delete" asp-route-id="@item.CourseID" class="btn btn-sm btn-danger">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
=======
@model List<SIMS.Models.StudentViewModel>
@{
	Layout = "~/Views/Shared/Layout_Admin/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2>List Students</h2>

        @* @if (userRole == "Admin")
        {
            <a class="btn btn-primary" asp-action="Create">Add Student</a>
        }

        @if (TempData["save"] != null)
        {
            if (statusSave)
            {
                <div class="alert alert-success my-2" role="alert">
                    Operation successful!
                </div>
            }
            else
            {
                <div class="alert alert-danger my-2" role="alert">
                    Operation failed!
                </div>
            }
        } *@

        <table class="table table-bordered my-2">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Class</th>
                    <th>User</th>
                    <th>Actions</th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.DoB?.ToString("yyyy-MM-dd")</td>
                        <td>@student.Email</td>
                        <td>@student.TypeName</td>
                        <td>@student.ClassName</td>
                        <td>@student.Username</td>
                        <td>
                            <a href="/Student/Edit/@student.StudentID">Edit</a> |
                            <a href="/Student/Delete/@student.StudentID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
>>>>>>> 4c0943863e934bbf26bf3daa3a457841164258ea
