@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<SIMS.BDContext.Entity.Student>

@{
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/Layout_Admin/_layoutAdmin.cshtml";
}
<h2>Student List</h2>

<!-- Button open modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createStudentModal">
    Create New Student
</button>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>DoB</th>
            <th>Email</th>
            <th>Address</th>
            <th>Major</th> 
            <th>Class</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DoB</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.Type?.TypeName</td>
				<td>@item.Class?.ClassName</td>
                @* <td>@item.CreatedAt.ToShortDateString()</td>
                <td>@item.UpdatedAt.ToShortDateString()</td> *@
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-sm btn-info">Details</a>
                    @* <a asp-action="Edit" asp-route-id="@item.CourseID" class="btn btn-sm btn-warning">Edit</a> *@
                    @* <a asp-action="Delete" asp-route-id="@item.CourseID" class="btn btn-sm btn-danger">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal create Student -->
<div class="modal fade" id="createStudentModal" tabindex="-1" aria-labelledby="createStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="createStudentModalLabel">Create new Student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Student Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" required />
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <textarea class="form-control" id="Email" name="Email" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="Address" class="form-label">Address</label>
                        <textarea class="form-control" id="Address" name="Address" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="TypeID" class="form-label">Major</label>
                        <select class="form-select" id="TypeID" name="TypeID" required>
                            <option value="">-- Choose Major --</option>
                            @foreach (var type in ViewBag.Types)
                            {
                                <option value="@type.TypeID">@type.TypeName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ClassID" class="form-label">Class</label>
                        <select class="form-select" id="ClassID" name="ClassID" required>
                            <option value="">-- Choose Class --</option>
                            @foreach (var _class in ViewBag.Classes)
                            {
                                <option value="@_class.ClassID">@_class.ClassName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
