@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Management</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                    Student
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="">
                            Create new student
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Student")">
                            Student Lists
                        </a>

                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Courses
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="@Url.Action("Create", "Course")">
                            Create new Course
                        </a>

                        <a class="nav-link collapsed" href="@Url.Action("Index", "Course")">
                            Course Lists

                        </a>

                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout1" aria-expanded="false" aria-controls="collapseLayout1">
                    <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                    Teacher
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayout1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Create","Teacher")">
                            Create new teacher
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Teacher")">
                            Teacher Lists
                        </a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout2" aria-expanded="false" aria-controls="collapseLayout2">
                    <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                    Classroom
                    <div class="sb-sidenav-collapse-arrow"></div>
                </a>
                <div class="collapse" id="collapseLayout2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Create", "Class")">
                            Create new teacher
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Class")">
                            Class Lists
                        </a>
                    </nav>
                </div>



                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout3" aria-expanded="false" aria-controls="collapseLayout3">
                    <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                    Major
                    <div class="sb-sidenav-collapse-arrow"></div>
                </a>
                <div class="collapse" id="collapseLayout3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Create", "Type")">
                            Create new types
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Type")">
                          Types List
                        </a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout4" aria-expanded="false" aria-controls="collapseLayout4">
                    <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                    Semester
                    <div class="sb-sidenav-collapse-arrow"></div>
                </a>
                <div class="collapse" id="collapseLayout4" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Create", "Type")">
                            Create new Semester
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "Semester")">
                            Semester List
                        </a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout5" aria-expanded="false" aria-controls="collapseLayout5">
                    <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                    Assignment
                    <div class="sb-sidenav-collapse-arrow"></div>
                </a>
                <div class="collapse" id="collapseLayout5" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Create", "Type")">
                            Create new Assignment
                        </a>
                        <a class="nav-link" href="@Url.Action("Index", "TeachingAssignment")">
                            Assignment List
                        </a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" >
                    <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                    Register
                    <div class="sb-sidenav-collapse-arrow"></div>
                </a>

            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                TuanNDA
            </div>
    </nav>
</div>

